# Environnement (local, test, production)
APP_ENV=local

# Base de données
DB_HOST=localhost
DB_PORT=3306
DB_NAME=vite_gourmand
DB_USER=root
DB_PASSWORD=
DB_CHARSET=utf8mb4
DB_COLLATION=utf8mb4_unicode_ci

# Configuration supplémentaire
DB_TIMEZONE=Europe/Paris
